/* GLOBAL STYLES */

* {
       box-sizing: border-box;
       }

*, a {
    color: rgba(0,0,0,0.87);
}

.divforform {
    display:  flex;
    justify-content:  center;
    color: #5F6368;
}

.divforadv {
    display: flex;
    flex-direction:  row;
    margin-left: 50px;
}

#advlabel {
    width:  25%;
    text-align: left;
    font-size: small;
}

#advinput {
    width:  50%;
    height: 50%;
    justify-content: center;
    margin-bottom: 20px;
}

#advsbtn {
    border-radius:  2px;
    font-size:  11px;
    font-weight:  bold;
    text-align:  center;
    white-space:  nowrap;
    color:  #fff;
    background-color: #4d90fe;
    border:  #3079ed;
    line-height:    100%;
    height: 30px;
    min-width:  120px;
    margin-left: 790px;
}

a {
    position: relative;
    text-decoration: none;
    padding: 10px;
    color: rgba(0,0,0,0.87)

    &::before {
        content: "";
        position: absolute;
        height: 3px;
        right: 0px;
        bottom: -3px;
        left: 0px;
    }

    &:hover {
        color: gray;
    }
}

.rcorners {
    border-radius:  25px;
}

.container {
   display: grid;
   grid-gap: 1rem;
   /*grid-template-columns:  repeat(4, 150px);*/
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr 5fr 1fr;
   }

 .item {

   /*border: 5px solid #87b5ff;*/
   /*border-radius: 3px;*/
   font-size: 13px;
   font-family: arial, sans-serif;
   color: rgba(0,0,0,0.87);
   margin-bottom: 150px;
   display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
   /*font-weight: bold;*/
   background-color: #1c57b5
   }

.item1 {
    grid-column:  1 / 3;
    grid-row:  1;
}

.item2 {
    grid-template-columns:  25% 50% 25%;
    grid-column:  2;
    grid-row: 2;
}

.item3 {
    grid-template-columns:  1fr 1fr 1fr;
    grid-column:  1 / 3;
    grid-row: 2;
    justify-items: center;
    /*transform: translate(-100px, -100px);*/
}